/*============================================================================*/
html{
  scroll-behavior:smooth;
}

body{
  margin: 0;
  background-color: #e8e8e8;
}

/*================================== FONTS ===================================*/

@font-face {
font-family: "OptimusPrinceps";
src: url("Fonts/OptimusPrinceps.ttf");
}

@font-face {
font-family: "OptimusPrincepsBold";
src: url("Fonts/OptimusPrincepsSemiBold.ttf");
}

/*============================================================================*/
/*============================================================================*/

#home{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.70),
    rgba(0, 0, 0, 0.70)
    ),url("Pictures/Fond.jpg");
  background-size: cover, no-repeat;
}
#side_bar{
  position: fixed;
  width: 35vw;
  height: 100vh;
  z-index: 3000;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.95);
  transform: translateX(-100%);
  transition: .75s;
}
#side_bar ul{
  padding: 0;

  height: 96vh;
  display: flex;
  flex-flow: column wrap;
  justify-content:space-between;
  align-content: center;
  text-align: center;
}
#side_bar ul li{
  margin-top: 2vh;
  margin-bottom: 2vh;
    list-style: none;
    font-family: "OptimusPrincepsBold";
    font-size: 1.75em;
}
#side_bar ul li a{
    text-decoration: none;
    color: white;
}

#home .menu1{
  display: none;
}
#home .menu2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
#home h2{
  margin: 0;
  font-size: 1.25em;
  margin-left: 2.5em;
  color: white;
  font-family: "OptimusPrincepsBold";
  transition:0.5s;
}
#home i{
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  margin-right: 2.5em;
  color: white;
  transition:0.5s;
}
#home .center i{
  padding: 0.5em;
  margin: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.25em;
  background-color: rgba(0,0,0,.4);
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  border-radius: 40% 70% 10% 70%;
  color: white;
}
#facebook, #liked{
  width: 1em;
  height: 1em;
  text-align: center;
}
#home .center{
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 17.5vh;
  align-items: center;
}
#home .center h1{
  font-family: 'Cinzel';
  font-size: 1.5em;
}
#home .center h3{
  font-family: 'Cinzel Decorative';
  font-size: 2.75em;
  text-shadow: 1px 1px 7px black;
}
/*============================================================================*/
/*============================================================================*/

#aboutme{
  display: flex;
  background-color: white;
  justify-content: center;
  flex-flow: row wrap;
  font-family: "Cinzel Decorative";

}
#aboutme .construction{
  font-size: 20px;
  margin-left: 10px;
  display: flex;
  flex-flow: column wrap;
}
#aboutme .princesse{
  width: auto;
  max-width:100%;
  height: auto;
  margin-top: 10px;
  margin-bottom:20px;
}
#aboutme .competence-bar{
  width: 400px;
  height: 40px;
  background-color: #F0F0F0;
  box-shadow: inset 1px 1px 5px #777777;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#aboutme .competence-bar p{
  padding: 10px;
  font-family: "OptimusPrinceps";
  white-space: nowrap;
}

#aboutme h2{
  margin: 0;
}
#aboutme h5{
  font-family:"OptimusPrinceps";
  font-weight: lighter;
  margin: 5px;
}
#aboutme p{
  font-family: sans-serif;
}
#aboutme .Jauge1{
  width:95%;
  height: 40px;
  background-color: #2c302a;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  visibility: hidden;
}
@keyframes slider1{
  0%{
    width: 0%;
    color: #2c302a;
  }
  70%{
    color: #2c302a;
  }
  100%{
    width: 95%;
    color: white;
  }
}
#aboutme .Jauge2{
  width:80%;
  height: 40px;
  background-color: #2c302a;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}
@keyframes slider2{
  0%{
    width: 0%;
    color: #2c302a;
  }
  70%{
    color: #2c302a;
  }
  100%{
    width: 80%;
    color: white;
  }
}
#aboutme .Jauge3{

  width:90%;
  height: 40px;
  background-color: #2c302a;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}
@keyframes slider3{
  0%{
    width: 0%;
    color: #2c302a;
  }
  70%{
    color: #2c302a;
  }
  100%{
    width: 90%;
  }
}
#aboutme .bouton{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}
#aboutme .bouton1{
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 8px;
  margin-right: 10px;
    margin-bottom: 60px;
}
#aboutme .bouton2{
  width: 150px;
  height: 46px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 60px;
}

/*============================================================================*/
/*============================================================================*/

#services{
  font-size: 20px;
  font-family:"Cinzel Decorative";
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background: linear-gradient(
    rgba(0, 0, 0, 0.70),
    rgba(0, 0, 0, 0.70)
    ),url("Pictures/Fond2.jpg");
  background-size: cover, no-repeat;
  padding-bottom: 10vh;
}
#services h1{
  color: white;
}
#services p{
  font-size: 13px;
  text-align: center;
}
#services i{
  padding: 10px;
  background-color: #e8e8e8;
  border-radius: 25px;
  transition: 0.5s;
}
#services .case{
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #e8e8e8;
  margin-bottom: 20px;
  font-family:"OptimusPrinceps";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

}

#services .case #pinceau:hover{
  background-color: black;
  color: tan;
  transition: 0.5s;
}
#services .case #poisson:hover{
  background-color: black;
  color: lightblue;
  transition: 0.5s;
}
#services .case #parapluie:hover{
  background-color: black;
  color: lightgreen;
  transition: 0.5s;
}
#services .case #feuille:hover{
  background-color: black;
  color: green;
  transition: 0.5s;
}
#services .case #parchemin:hover{
  background-color: black;
  color: antiquewhite;
  transition: 0.5s;
}
#services .case #chat:hover{
  background-color: black;
  color: white;
  transition: 0.5s;
}
#services .placement{
  display: flex;
  flex-flow: column wrap;
}
/*============================================================================*/
/*============================================================================*/

#portfolio{
  font-size: 20px;
  font-family:"Cinzel Decorative";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
#portfolio .zone{
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#portfolio h1{
  margin-top: 100px;
}
#portfolio .liste ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
}
#portfolio .liste ul li{
    margin-right: 15px;
    margin-bottom: 25px;
    font-family:"OptimusPrinceps";
}
#portfolio .image{
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  position: relative;
}
#portfolio .cache{
  position: absolute;
  width: 380px;
  height: 380px;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 0 0 8px white;
  background-color: white;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-family:"OptimusPrinceps";
}
#portfolio .cache h1{
  margin-top:0;
}
#portfolio .cache .mouton{
  display: flex;
  flex-flow: row wrap;
}
#portfolio .cache .mouton .button{
  color: white;
  height: 20px;
  margin-right: 10px;
  padding: 10px;
  background-color: black;
  border-radius: 75px;
}
#portfolio .cache:hover{
  opacity: 0.9;
}
#portfolio .image img{
  width: 400px;
  max-width: 100%;
  height: 400px;
  padding-bottom: 25px;
}

/*============================================================================*/
/*============================================================================*/

@media (min-width:1300px){
  /*==========================================================================*/
  /*==========================================================================*/

  #home .menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100px;
    z-index: 999;
  }
  #home .menu1 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-right: 5em;
  }

  #home .color{
    text-decoration: none;
    color: white;
    font-family: "OptimusPrincepsBold";
    font-size: 20px;
    transition:0.5s;
  }

  #home .menu1 li{
    margin-left: 60px;

  }

  #home .menu1 h2{
    margin-left: 4em;
    transition:0.5s;
  }
  #home .center h1{
    font-size: 2em;
  }
  #home .center h3{
    font-size: 4em;
  }
  #home .menu2{
    display: none;
  }
  /*==========================================================================*/
  /*==========================================================================*/

  #aboutme{
    justify-content: flex-start;
    flex-flow: row nowrap;
    padding-top: 1.75vw;
  }
  #aboutme .princesse{
    margin: 3vw;
    margin-left: 2vw;
    margin-right: 0;
    padding-bottom: 1.75vw;
    width: 700px;
    height: 800px;
  }
  #aboutme h2{
    font-size: 40px;
  }
  #aboutme .construction{
    padding-top:50px;
    padding-bottom:50px;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 0.5vw;
  }
  #aboutme .competence-bar{
    width: 40vw;
    margin-bottom: 30px;
  }
  #aboutme .text{
    width: 40vw;
  }
  #aboutme .bouton1{
    width: 200px;
  }
  #aboutme .bouton2{
    width: 200px;
  }

  /*==========================================================================*/
  /*==========================================================================*/
  #services h1{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    padding: 5vw;
  }
  #services p{
    font-size: 18px;
  }
  #services .case{
    width: 500px;
    height: 300px;
  }
  #services .placement{
    flex-flow: row wrap;
    justify-content: space-around;
  }

  /*==========================================================================*/
  /*==========================================================================*/

  #portfolio .image{
    flex-flow: row wrap;
    justify-content: space-around;
  }
  #portfolio .image img{
    width: 475px;
    height:475px;
    margin-left: 80px;
    margin-right: 80px;
  }
  #portfolio .cache{
    width: 450px;
    height:450px;
    margin-left: 92.5px;
    margin-right: 80px;
  }

  /*==========================================================================*/
  /*==========================================================================*/
}
/*============================================================================*/
/*============================================================================*/
@media (min-width:1500px){

  #aboutme .princesse{
    margin-left: 7vw;
  }
}
